@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-inter);
}

@layer base {
  html {
    @apply antialiased transition-colors duration-300;
  }
}